<div class="row">
  <div class="col">
    <div class="card border-0">
      <div class="card-body">
        <h6 class="card-title">Things</h6>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Uid</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let thing of things">
            <td>{{thing.uid}}</td>
            <td>{{thing.name}}</td>
            <td>{{thing.description}}</td>
            <td>{{thing.status}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
