/target
/.settings
/.project
/com.ptoceti.osgi.control/.settings
/com.ptoceti.osgi.control/.classpath
/com.ptoceti.osgi.control/.project
/com.ptoceti.osgi.control/target

/com.ptoceti.osgi.data/.settings
/com.ptoceti.osgi.data/.classpath
/com.ptoceti.osgi.data/.project
/com.ptoceti.osgi.data/target

/com.ptoceti.osgi.modbus/.settings
/com.ptoceti.osgi.modbus/.classpath
/com.ptoceti.osgi.modbus/.project
/com.ptoceti.osgi.modbus/target

/com.ptoceti.osgi.modbusdevice/.settings
/com.ptoceti.osgi.modbusdevice/.classpath
/com.ptoceti.osgi.modbusdevice/.project
/com.ptoceti.osgi.modbusdevice/target

/com.ptoceti.osgi.obix/.settings
/com.ptoceti.osgi.obix/.classpath
/com.ptoceti.osgi.obix/.project
/com.ptoceti.osgi.obix/target

/com.ptoceti.osgi.obix/api/.settings
/com.ptoceti.osgi.obix/api/.classpath
/com.ptoceti.osgi.obix/api/.project
/com.ptoceti.osgi.obix/api/target

/com.ptoceti.osgi.obix/lib/.settings
/com.ptoceti.osgi.obix/lib/.classpath
/com.ptoceti.osgi.obix/lib/.project
/com.ptoceti.osgi.obix/lib/target

/com.ptoceti.osgi.obix.backbones/.settings
/com.ptoceti.osgi.obix.backbones/.classpath
/com.ptoceti.osgi.obix.backbones/target
/com.ptoceti.osgi.obix.backbones/.project
/com.ptoceti.osgi.obix.backbones/src/main/webapp/build

/com.ptoceti.osgi.rxtx/.settings
/com.ptoceti.osgi.rxtx/.classpath
/com.ptoceti.osgi.rxtx/.project
/com.ptoceti.osgi.rxtx/target

/com.ptoceti.osgi.sqlite/.settings
/com.ptoceti.osgi.sqlite/.classpath
/com.ptoceti.osgi.sqlite/.project
/com.ptoceti.osgi.sqlite/target

/com.ptoceti.osgi.wireadmin/.settings
/com.ptoceti.osgi.wireadmin/.classpath
/com.ptoceti.osgi.wireadmin/.project
/com.ptoceti.osgi.wireadmin/target

/com.ptoceti.osgi.pi/.settings
/com.ptoceti.osgi.pi/.classpath
/com.ptoceti.osgi.pi/.project
/com.ptoceti.osgi.pi/target

/runner
/.DS_Store
