/target
/.settings
/.project
/com.ptoceti.osgi.control/.settings
/com.ptoceti.osgi.control/.classpath
/com.ptoceti.osgi.control/.project
/com.ptoceti.osgi.control/target

/com.ptoceti.osgi.data/.settings
/com.ptoceti.osgi.data/.classpath
/com.ptoceti.osgi.data/.project
/com.ptoceti.osgi.data/target

/com.ptoceti.osgi.modbus/.settings
/com.ptoceti.osgi.modbus/.classpath
/com.ptoceti.osgi.modbus/.project
/com.ptoceti.osgi.modbus/target

/com.ptoceti.osgi.modbusdevice/.settings
/com.ptoceti.osgi.modbusdevice/.classpath
/com.ptoceti.osgi.modbusdevice/.project
/com.ptoceti.osgi.modbusdevice/target

/com.ptoceti.osgi.wireadmin/.settings
/com.ptoceti.osgi.wireadmin/.classpath
/com.ptoceti.osgi.wireadmin/.project
/com.ptoceti.osgi.wireadmin/target


/runner
/.DS_Store
/bin/
/.idea/
/fileinstall/
/influxdb-data/
/ptoceti-data/
/com.ptoceti.osgi.deviceaccess/target/
/com.ptoceti.osgi.ebus/target/
/com.ptoceti.osgi.features/target/
/com.ptoceti.osgi.ihm/target/
/com.ptoceti.osgi.resteasy/com.ptoceti.osgi.resteasy-core/target/
/com.ptoceti.osgi.resteasy/com.ptoceti.osgi.resteasy-core-spi/target/
/com.ptoceti.osgi.resteasy/com.ptoceti.osgi.resteasy-guice/target/
/com.ptoceti.osgi.resteasy/com.ptoceti.osgi.resteasy-jackson2-provider/target/
/com.ptoceti.osgi.resteasy/com.ptoceti.osgi.resteasy-jaxb-provider/target/
/com.ptoceti.osgi.serialdevice.nrjavaserial/target/
/com.ptoceti.osgi.smallrye/target/
/com.ptoceti.osgi.usb.api/target/
/com.ptoceti.osgi.usb4java/com.ptoceti.osgi.usb4java.usb4java/target/
/com.ptoceti.osgi.usb4java/com.ptoceti.osgi.usb4java.usb4java-javax/target/
/com.ptoceti.osgi.usbdevice/target/
/com.ptoceti.osgi.rest/runner/
/com.ptoceti.osgi.rest/target/
/com.ptoceti.osgi.jaxb-impl/target/
/com.ptoceti.osgi.configadmin.eventlistener/target/
/com.ptoceti.osgi.deviceadmin/target/
/com.ptoceti.osgi.rest/src/main/webapp/swagger-ui/node_modules/
/com.ptoceti.osgi.rest/src/main/webapp/swagger-ui/dist/
/com.ptoceti.osgi.rest/src/main/webapp/swagger-ui/package-lock.json
/com.ptoceti.osgi.rest/configurations/
/com.ptoceti.osgi.auth/target/
/com.ptoceti.osgi.auth/src/main/webapp/swagger-ui/node_modules/
/com.ptoceti.osgi.auth/src/main/webapp/swagger-ui/dist/
/com.ptoceti.osgi.useradmin.nosqlstore/target/
/com.ptoceti.osgi.nitrite/target/
