<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="card">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button" (click)="onClickSearch(searchField)"><i class="fa fa-search "></i></button>
			</span>
			<input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchField">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button" (click)="isCollapsed = !isCollapsed"><i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i><i *ngIf="isCollapsed" class="fa fa-chevron-down"></i></button>
				<button class="btn btn-secondary" type="button" (click)="onClickRefresh()"><i class="fa fa-refresh"></i></button>
				<button class="btn btn-secondary" type="button" (click)="onClickCreate()"><i class="fa fa-plus"></i></button>
			</span>
		</div>
	
	 
		<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-block">	
			<table class="table">
				<tbody>
					<tr *ngFor="let result of searchResults">
						<td>{{result.displayName || result.name}}</td>
						<td></td>
						<td class="d-flex justify-content-end"><button type="button" class="btn btn-secondary" (click)="onClickAdd(result.href.val)">Add</button></td>
					</tr>
				</tbody>
			</table>		 
		</div>
		</div>
	</div>
	
</div>