<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="card">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button" (click)="onClickSearch(searchField)"><fa-icon
                        [icon]="faSearch"></fa-icon></button>
			</span>
			<input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchField">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button" (click)="isCollapsed = !isCollapsed"><fa-icon
                        [icon]="faChevronUp" *ngIf="!isCollapsed"></fa-icon><fa-icon [icon]="faChevronDown"
                                                                                     *ngIf="isCollapsed"></fa-icon></button>
				<button class="btn btn-secondary" type="button" (click)="onClickRefresh()"><fa-icon
                        [icon]="faSync"></fa-icon></button>
				<button class="btn btn-secondary" type="button" (click)="onClickCreate()"><fa-icon
                        [icon]="faPlus"></fa-icon></button>
			</span>
		</div>
	
	 
		<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-block">	
			<table class="table">
				<tbody>
					<tr *ngFor="let result of searchResults">
						<td>{{result.displayName || result.name}}</td>
						<td></td>
						<td class="d-flex justify-content-end"><button type="button" class="btn btn-secondary" (click)="onClickAdd(result.href.val)">Add</button></td>
					</tr>
				</tbody>
			</table>		 
		</div>
		</div>
	</div>
	
</div>