<div class="row flex-xl-nowrap">
  <div class="col-md-2 col-xl-2 border vh-100">
    <div class="collapse d-md-block row mx-auto">
      <nav class="nav navbar-light flex-column">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" [class.disabled]="!hasRole('clouds')" href="#">Clouds</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col vh-100">
    <div class="row">
      <main class="col">
      </main>
    </div>

  </div>
</div>
