<div id="itemEditNameWrapper">

    <!-- editable value -->
    <a (click)="edit(value)" [hidden]="editing">{{ item.displayName || item.name}}</a>

    <!-- inline edit form -->
        <div class="form-group" [hidden]="!editing">
            <!-- inline edit control  -->
           <input #editItemNameControl class="form-control" [(ngModel)]="value"/>
            <!-- inline edit save and cancel buttons -->
           <span>
                <button class="btn btn-primary" (click)="onSubmit(value)"><span><fa-icon
                        [icon]="faCheck"></fa-icon></span></button>
                <button class="btn btn-default" (click)="cancel(value)"><span><fa-icon
                        [icon]="faTimes"></fa-icon></span></button>
           </span>
        </div>
</div>