<div class="card card-inverse bg-primary">
	<div class="card-block pb-0">
		<div class="float-right">
				<i class="fa {{getStatusIcon()}} fa-lg"></i>
				<a (click)="onRemoveClick()" class="fa fa-remove fa-lg"></a>
		</div>
		<h4 class="mb-0">
			<label class="switch switch-3d switch-secondary">
	            <input type="checkbox" class="switch-input" [ngModel]="obj.val" (ngModelChange)="onChange($event)">
	            <span class="switch-label"></span>
	            <span class="switch-handle"></span>
        	</label>
		</h4>
		<p>{{obj.displayName || obj.name}}</p>
		<div class="chart-wrapper px-3" style="height: 70px; width: 60px;">
		</div>
	</div>
</div>
