<div class="card card-inverse bg-primary">
	<div class="card-block pb-0">
		<div class="float-right">
				<i class="fa {{getStatusIcon()}} fa-lg"></i>
				<a (click)="onRemoveClick()" class="fa fa-remove fa-lg"></a>
		</div>
		<div><span class="h4 mb-0">{{valToPrecision()}} {{getUnit()}}</span></div>
		<div *ngIf="obj.timestamp"><span class="mb-0" >{{obj.timestamp | amCalendar }}</span></div>
		<p>{{obj.displayName || obj.name}}</p>
		
		<div *ngIf="hasHistory()" class="chart-wrapper pb-3" style="height:100px;">
		 
			<d3-line-chart [data]="lineChartData" #d3lineChart></d3-line-chart>
		</div>
		
		 
	</div>
</div>
