<div class="card card-inverse bg-primary">
	<div class="card-block pb-0">
		<div class="float-right">
            <fa-icon [icon]="getStatusIcon()"></fa-icon>
            <a (click)="onRemoveClick()">
                <fa-icon [icon]="faEraser" size="lg"></fa-icon>
            </a>
		</div>
        <h4 class="mb-0">
            <fa-icon [icon]="getToggleIcon()" size="lg"></fa-icon>
        </h4>
        <p>{{obj.displayName || obj.name}} <a (click)="onEditClick()">
            <fa-icon [icon]="faEdit" size="lg"></fa-icon>
        </a></p>
		<div class="chart-wrapper px-3" style="height: 70px; width: 60px;">
		</div>
	</div>
</div>
