.d3-multiline-chart-container {
	
}
.d3-multiline-chart-container .linechart .line {
	fill: none;
  stroke-width: 2px;
}

.d3-multiline-chart-container .linechart .area {
    stroke-width: 0;
}

.d3-multiline-chart-container .legend rect {
    fill:white;
    stroke: black;
    opacity: 0.8;
}

.d3-multiline-chart-container .d3tooltip {
	position: relative;
	z-index: 10;
	visibility: hidden;
	color: white;
	padding: 8px;
	background-color: #000000;
	border-radius: 6px;
	font: 12px sans-serif;
	display: inline-block;
}
