<div  class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p><label>{{historytext.histories}}</label><span name="count" class="badge pull-right"/></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 hidden-xs">
		<p>
		<div class="btn-group">
			<button id="removeButton" type="button" class="btn btn-default {{#unless onXsMedia }} btn-lg {{/unless}}" disabled="disabled">
			  <span class="glyphicon glyphicon-minus"></span> {{historytext.remove}}
			</button>
			<button id="reloadButton" type="button" class="btn btn-default {{#unless onXsMedia }} btn-lg {{/unless}}">
			  <span class="glyphicon glyphicon-refresh"></span> {{historytext.reload}}
			</button>
		</div>
		</p>
	</div>
</div>


<div id="historyList" class="row">
	
</div>