
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="h3 text-center">
				<span name="icon" class="glyphicon glyphicon-home"/>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="h3 text-center">
				<span name="displayName" class>{{displayName}}</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="text-center">
				<span name="val" class="large">{{val}}</span>
				<span name="unit" class="h1">{{unit}}</span>&nbsp;
				<span name="status" style="vertical-align:top" class="glyphicon glyphicon-ok-circle"/>
			<p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="h4 text-center">
				<span name="variance" class="{display: none}"/>
				<span name="varianceText" class=""/>
			<p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="h4 text-center">
				<span name="timeStamp" class="h3">{{timestamp}}</span>
			</p>
		</div>
	</div>
