<div class="row horizontal-align" >
	<div class="col-md-2 col-sm-2 col-xs-2">
		<a id="previousPage" class="h1" href="#"><span class="glyphicon glyphicon-chevron-left"/></a>
	</div>
	<div class="col-md-8 col-sm-8 col-xs-8">
		<div id="itemContainer" />
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2">
		<a id="nextPage" class="h1" href="#"><span class="glyphicon glyphicon-chevron-right"/></a>
	</div>
</div>
<div class="row" >
	<div class="col-md-4 col-sm-2 col-md-offset-4 col-sm-offset-5 ">
		<a id="lobbyLink"><h2 class="text-center"><span class="glyphicon glyphicon-log-in icon-large"></span><h2></a>
	</div>
</div>



