<div  class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p><a name="displayName"/><span name="count" class="badge pull-right"/></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 hidden-xs">
		<p>
		<div class="btn-group">
			<button id="removeButton" type="button" class="btn btn-default" disabled="disabled">
			  <span class="glyphicon glyphicon-minus"></span><span> {{lobbytext.remove}}</span>
			</button>
			<button id="reloadButton" type="button" class="btn btn-default">
			  <span class="glyphicon glyphicon-refresh"></span><span> {{lobbytext.reload}}</span>
			</button>
		</div>
		</p>
	</div>
	
</div>

<div id="pointsList" class="row">
	
</div>