<div  class="row">
	<div class="col-md-6  col-sm-6 col-xs-6">
		<p><span class="h4" name="displayName"/></p>
	</div>
	<div class="col-md-6  col-sm-6 col-xs-6 text-right">
		<p><span class="h4">{{lobbytext.items}}</span><span name="count" class="badge"/></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<p>
		<div class="btn-group">
			<button id="removeButton" type="button" class="btn btn-default" disabled="disabled">
			  <span class="glyphicon glyphicon-minus"></span><span> {{lobbytext.remove}}</span>
			</button>
			<button id="reloadButton" type="button" class="btn btn-default">
			  <span class="glyphicon glyphicon-refresh"></span><span> {{lobbytext.reload}}</span>
			</button>
		</div>
		</p>
	</div>
	
</div>

<div id="pointsList" class="row">
	
</div>