<div  class="vertical-space-between" >
	<div id="header" class="container" style="flex-shrink:0;"/>
	<div id="content" class="container"  />
	<div id="footer" class="container" style="flex-shrink:0;"/>
</div>
