<td>
	<div class="row">
		<div class="col-md-10 col-sm-10">
			<p style="display: inline-block" class="h2"><span name="val">{{val}}</span> <span name="unit">{{unit}}</span>&nbsp;</p><p style="display: inline-block" class="h4"><span name="variance" class="{display: none}"/></p>
			<p class="h4"><span name="displayName">{{displayName}}</span></p>
		</div>
		<div class="col-md-2 col-md-2">
			<p class="h3"><span name="timeStamp">{{timestamp}}</span></p>
			<p class="h4"><span name="status" class="label label-default">New</span></p>
		</div
	</div>
</td>