
<div class="row" >
	<div class="col-md-4 col-sm-2 col-md-offset-4 col-sm-offset-5 ">
		<h4 class="text-center"><i class="glyphicon glyphicon-refresh icon-spin"/>&nbsp;<span name="progressMessage"></span></h4>
	</div>
</div>



