<div  class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p>
		<div class="input-group">
		  <span class="input-group-addon glyphicon glyphicon-search"></span>    
		  <input name="searchfield" type="text" class="form-control" placeholder="Search">{{searchvalue}}</input>
		</div>
		</p>
	</div>
</div>
<div  class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p><span name="count" class="badge pull-right"/></p>
	</div>
</div>

<div id="searchList" class="row">
	
</div>

