
<div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
<a class="ui-slider-handle ui-state-default ui-corner-all ui-state-hover"><label><span class="glyphicon glyphicon-chevron-left"></span>"0"<span class="glyphicon glyphicon-chevron-right"></span></label></a>
</div>
