<td>
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-6">
			<p><span name="displayName" class="h4" {{#if contentEditable }} contenteditable="true"{{/if}}>{{displayName}}</span></p>
		</div>
		<div class="col-md-3 col-md-3 col-xs-4">
			<p><span name="lease" class="h4">{{lease}}</span></p>
		</div>
		<div class="col-md-3 col-md-3 col-xs-2">
			<p><a><span name="details" class="glyphicon glyphicon-chevron-right h3"/></a></p>
		</div>
	</div>
</td>