<td>
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-6">
			<p><span name="displayName" class="h4" {{#if contentEditable }} contenteditable="true"{{/if}}>{{displayName}}</span></p>
		</div>
		<div class="col-md-3 col-md-3 col-xs-4">
			<p><span name="lease" class="h4">{{lease}}</span></p>
		</div>
		<div class="col-md-3 col-md-3 col-xs-2">
			<p><a><span name="details" class="glyphicon glyphicon-menu-right"/></a></p>
		</div>
	</div>
	<div  id="monitoredInfos{{elemId}}" name="infoPanel" class="panel-collapse collapse">
		<div class=row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<a name="deleteItem"><span class="glyphicon glyphicon-minus"></a>
			</div>
		</div>
	</div>
</td>