<div class="animated fadeIn">

	<search (onAdd)="onAdd($event)" (onCreate)="onCreate($event)" (onRefresh)="onRefresh($event)" [contractFilter]="contractFilter" [objectFilterList]="watchList" ></search>

	<div class="row">
		<watchitem *ngFor="let watch of watchList" [watch]="watch" class="col-sm-6 col-md-4 col-lg-3 col-xl-3" (onRemove)="onRemove($event)"></watchitem>
	</div>
	<div class="card">
		<div class="card-block">
	          <table class="table">
	            <thead>
	              <tr>
	                <th>Name</th>
	                <th>Lease</th>
	                <th></th>
	                <th>Go<th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr *ngFor="let watch of watchList" id={{watch.href.val}} >    
	                	<td class="align-middle"><watcheditname [watch]="watch" (onSave)="onSave($event)"></watcheditname></td>
	                	<td class="align-middle"><watcheditlease [watch]="watch" (onSave)="onSave($event)"></watcheditlease></td>
                      <td>
                          <button class="btn btn-outline-primary btn-block" (click)="onDelete(watch)"><span
                                  class="pr-2"><fa-icon [icon]="faTrash"></fa-icon></span><span
                                  class="d-none d-sm-inline-block">Delete watch</span><span
                                  class="d-sm-none d-xs-inline px-1"><fa-icon [icon]="faPlus"></fa-icon></span></button>
                      </td>
	                	<td class="align-middle"><span>
		                	<a class="nav-link" routerLinkActive="active"
                               [routerLink]="['/main/dashboard/watch', watch.href.val]"><fa-icon [icon]="faArrowRight"
                                                                                                 size="lg"></fa-icon></a>
		                	</span>
		                </td>
	              </tr>
	            </tbody>
	          </table>
		</div>
	</div>
</div>