<div>
	<div class="card card-inverse bg-success">
		<div class="card-block ">
			<div class="float-right">
                <fa-icon [icon]="getStatusIcon()" size="lg"></fa-icon>
                <a (click)="onRemoveClick()">
                    <fa-icon [icon]="faEraser" size="lg"></fa-icon>
                </a>
			</div>
			<h4 class="mb-0">
				{{itemCount}} items <span> <a class="btn bg-success" routerLinkActive="active" [routerLink]="['/main/dashboard/watch', watch.href.val]">
				 <fa-icon [icon]="faArrowAltCircleRight" size="lg"></fa-icon></a></span>
			</h4>
			<p>{{watch.displayName || watch.name}}</p>
			
		</div>
	</div>
</div>