<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Watches
          <div class="btn-toolbar float-right" role="toolbar">
          <div class="btn-group mr-2" role="group">
	          <button (click)="onClickDelete()" *ngIf="selectedRow">
	          <i class="fa fa-minus "></i>
	          </button>
	          <button (click)="onClickEdit()" *ngIf="selectedRow">
	          <i class="fa fa-pencil-square-o"></i>
	          </button>
          </div>
          <div class="btn-group" role="group">
	          <button (click)="onClickAdd()">
	          <i class="fa fa-plus "></i>
	          </button>
	          <button (click)="onClickRefresh()">
	          <i class="fa fa-refresh "></i>
	          </button>
          </div>
          </div>
        </div>
        
        <div class="card-block">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Lease</th>
                <th></th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let watch of watchList" (click)="setClickedRow(watch.href.val)" id={{watch.href.val}} [class.bg-info]="watch.href.val == selectedRow">
                <ng-container *ngIf="!((watch.href.val == selectedRow) && editMode)">
                	<td>{{watch.displayName || watch.name}}</td>
                	<td>{{watch.getLease().val | amDuration:'days'}}</td>
                	<td>Member</td> 
	                <td>
	                  <span class="badge badge-success">Active</span>
	                </td>
	                <td>
	                	<span>
	                	<a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/watch', watch.href.val]"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
	                	</span>
	                </td>
                </ng-container>
                <ng-container *ngIf="((watch.href.val == selectedRow) && editMode)">
                	<td><input type="text" [(ngModel)]="editName"></td>
                	<td><select [(ngModel)]="editPeriod">
                		<ng-container *ngFor="let period of periods">
                			<option [ngValue]="period">{{period.name}}</option>
                		</ng-container>
					  </select></td>
					  <td><button type="button" class="btn btn-primary" (click)="onClickSave()" >Save</button></td>
					  <td></td>
					  <td></td>
                </ng-container>
                
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
