<div>
	<div class="card card-inverse bg-success">
		<div class="card-block ">
			<div class="float-right">
				<i class="fa {{getStatusIcon(watch)}} fa-lg"></i>
				<a (click)="onRemoveClick()" class="fa fa-remove fa-lg"></a>
			</div>
			<h4 class="mb-0">
				{{itemCount}} items <span> <a class="btn bg-success" routerLinkActive="active" [routerLink]="['/main/dashboard/watch', watch.href.val]">
				 <i class="fa fa-arrow-circle-o-right fa-lg"></i></a></span>
			</h4>
			<p>{{watch.displayName || watch.name}}</p>
			
		</div>
	</div>
</div>